@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #2C3930;
    --cor-secudaria: #A27B5C;
    --cor-terciaria: #DCD7C9;
    --cor-quartenaria: #3F4F44;

}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__abas {
    display: flex;
    gap: 3.75rem;

}
.cabecalho__abas__aba{
    color:var(--cor-secudaria);
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    font-weight:600;
    text-decoration: none;
}


.titulo-destaque {
    color: var(--cor-secudaria);
}

.apresentacao {
    margin: 5% 10%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 3% 5% 3% 5%;
    gap: 5rem;
}

.apresentacao__conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}
.apresentacao__imagem {
    width: 37%;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    line-height: 3.5rem;
    font-family: "Krona One", serif;
    font-weight: 200;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Montserrat", serif;
    font-weight: 300;
    text-align: justify;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-size: 1.5rem ;
    font-weight: 100;
    font-family: "Krona One", serif;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    color:  var(--cor-terciaria);
    border: 2px solid var(--cor-secudaria);
    text-align: center;
    width: 23.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.35rem 0;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-quartenarias);
    padding: 1.35rem 1.6rem;
}

.apresentacao__trabalhos{
    margin: 3% 0%;
    display: flex;
    flex-direction: column;
}

.apresentacao__trabalhos__divisao{
    display: flex;
    justify-content: center;
}


.apresentacao__trabalhos__divisao__imagem {
    width: 45%;
    padding: 1%;
}

.apresentacao__contato {
    display: flex;
    flex-direction: column;
}

.apresentacao__contato__titulo {
    text-align: center;
    display: flex;
    font-size: 2.25rem;
    line-height: 3.5rem;
    font-family: "Krona One", serif;
    font-weight: 200;
}

.apresentacao__contato__infos {
    font-size: 2rem;
    padding: 1%;
}

img:active {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.8); 
}

.rodape__texto {
    background-color: var(--cor-secudaria);
    color: var(--cor-primaria);
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 0;
        margin: 10%;
    }

    .cabecalho__abas {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
  
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__conteudo__titulo{
        font-size: 2rem;
    }
}